/* CSS HEX */
:root {
    --saffron: #e0b915ff;
    --flame: #db683bff;
    --sapphire-blue: #256a99ff;
    --copper-penny: #b96763ff;
    --misty-moss: #a8ab68ff;
    --silver-chalice: #b3b3b3ff;
}

