@import url("themes.css");

@font-face {
  font-family: "MS-Font";
  src: url("../fonts/MS_PAIN.woff") format("truetype");
}

html {
  background-image: url("../img/paper-texture.png");
  background-blend-mode: multiply;
}

* {
  font-family: "MS-Font";
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

p {
  margin: 0.3em;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  pointer-events: none;
  user-select: none;
}

/* ==================== Classes/Ids: ==================== */

.main {
  margin: auto;
  width: min(1000px, 100%);
}

.center {
  margin: 10vh 0;
  text-align: center;
}

.icon {
  display: flex;
  height: 50px;
  width:50px;
  justify-content: center;
  align-items: center;
}

.divider {
  flex: 1;
}

nav *:hover, a:hover {
  color: rgb(255, 255, 255);
}

nav {
  display: flex;
}

#sbImg {
  width: 200px;
  mix-blend-mode: difference;
  margin: 25px;
}
