@import url("themes.css");
@import url("animations.css");

@font-face {
  font-family: "MS-Font";
  src: url("../fonts/MS_PAIN.woff") format("truetype");
}

/* ========== General styles ========== */

html {
  background-image: url("../img/paper-texture.png");
  background-blend-mode: multiply;
}

body {
  font-family: "MS-Font";
  margin: 0;
  padding: 0;
}

* {
  font-size: 30px;
  margin: 0.3em;
}

.main {
  margin: auto;
  width: min(1000px, 100%);
}

.center {
  margin: 10vh 0;
  text-align: center;
}

/* .buttons-container { 
} */

h1 {
  font-size: 50px;
  margin: 0.6em;
}

.footer {
  font-size: 10px;
}

button {
  border: unset;
  background-color: unset;
  font-family: unset;
  color: inherit;
}

* {
  -webkit-transition: all 0.3s ease;
}

*:hover {
  -webkit-transition: all 0.3s ease;
}

/* ========== Top Nav Bar + Links ========== */

nav {
  /* font-family: Helvetica, Arial, sans-serif; */
  display: flex;
  margin: 0;
  padding: 0;
}

.icon {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.divider {
  flex: 1;
}

a:hover, button:hover {
  font-weight: bolder;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.445);
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  letter-spacing: 2px;
}

/* ========== Color Dropdown Menu ========== */

.icon.color {
  border-radius: 20px;
}

icon.color:focus {
  animation: hover-link 5s linear 0s infinite normal forwards;
  cursor: help;
}

/* ========== Image ========== */

img {
  pointer-events: none;
  user-select: none;
}

#sbImg {
  width: 200px;
  mix-blend-mode: difference;
  margin: 25px;
  /* TODO: fix coloring of strawwwwbery */
}

/* testing */
