/* .top-bar {
    background-color: rgb(236, 211, 236);
}

.content {
    background-color: rgb(199, 224, 224);
}

.footer {
    background-color: rgb(201, 223, 201);
}

.push {
    background-color: rgb(49, 49, 53);
}

.icon {
    background-color: pink;
} 

*/


/* br {
    background-color: rgb(155, 155, 155);
    border: solid 1px black;

}

.ascii {
    background-color: rgb(41, 41, 41);
} */
/* 



.text {
    outline: solid 1px rgb(255,255,255);
} 

*/
/* 
.flex-grid {
    outline: solid 1px rgb(84, 130, 255);
}

.box {
    outline: solid 1px rgb(255, 84, 84);
}

.proj-icon{
    outline: solid 1px rgb(138, 255, 84);
} */

/* svg, img {
    outline: solid 1px rgb(255, 255, 255);
} */

