@import url("themes.css");
@import url("animations.css");

@font-face {
  font-family: "MS-Font";
  src: url("../fonts/MS_PAIN.woff") format("truetype");
  /* TODO: Var-fonts */
}

/* ========== General styles ========== */

html {
  background-image: url("../img/paper-texture.png");
  background-blend-mode: multiply;
  /* TODO: fix grain texture */
}

body {
  font-family: "MS-Font";
  margin: 0;
  padding: 0;
}

* {
  font-size: 30px;
  margin: 0.3em;

  /* cursor: url(../img/cursor.png), auto; */
}

.main {
  margin: auto;
  width: min(900px, 100%);
}

h1,
h2,
h6 {
  /* margin: 10vh 0; */
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0.6em;
}

h6 {
  font-weight: normal;
}

p,
ul *,
#back {
  font-size: 20px;
}

.body {
  margin: 100px 0 0 0;
  /* text-align: center; */
}

.text {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: min(500px, 100%);
}

.footer-wrapper {
  position: relative;
  height: 100px;
}

.footer {
  font-size: 10px;
  position: absolute;
  bottom: 50px;
}

/* Mobile */
/* , screen and (max-height: 1000px) */
@media screen and (max-width: 600px) {
  .footer {
    bottom: 0;
  }

  .body {
    margin-top: 0;
  }
}

/* ========== Top Nav Bar + Links ========== */

.top-bar * {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.icon {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.divider {
  flex: 1;
}

/* ========== Color Dropdown Menu ========== */

.icon.color {
  border-radius: 25px;
  cursor: progress;
}

.color-selector:hover {
  animation: rainbow 2.5s linear 0s infinite normal forwards;
  font-weight: bolder;
  /* TODO fix focus */
}

.color-selector {
  transition: none;
}

.dropdown-content {
  position: absolute;
  border-style: solid;
  border-width: 3px;

  border-radius: 25px;
  top: 2em;
}

.dropdown-content * {
  display: block;
}

.hidden {
  visibility: hidden;
  /* display: none; */
  opacity: 0;
  top: 1.5em;
  transition: all 0.3s;
}

.show {
  visibility: visible;
  opacity: 1;
  top: 2em;
  transition: all 0.3s;
}
/* ========== Image ========== */

img {
  pointer-events: none;
  user-select: none;
}

#sbImg {
  width: 200px;
  mix-blend-mode: difference;

  margin-left: auto;
  margin-right: auto;
  display: block;
  /* margin: 25px; */
  /* TODO: fix coloring of strawwwwbery */
}

/* Cursors + animations */

button {
  border: unset;
  background-color: unset;
  font-family: unset;
  color: inherit;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  transition: all 0.3s ease;
}

*:hover {
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  font-weight: bolder;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.445);
}

a:hover {
  letter-spacing: 2px;
}

.footer,
h1,
h2,
p {
  cursor: default;
}

/* testing */
