/* ========== Colors: ==========
  cobalt blue: #0b415a | #c9b546
  pastel purp: #482c5a | #dba4b5

*/

#blue {
  background-color: #0b415a;
  color: #dbb845;
}

#purp {
  background-color: #342550;
  color: #ff8b8b;
}

#red {
  background-color: rgb(68, 33, 33);
  color: #f5db4b;
}

#orange {
  background-color: #30281d;
  color: #a3ddb9;
}

#green {
  background-color: #20311c;
  color: #ca7e27;
}

#cream {
  background-color: #292b2b;
  color: #f0e2a2;
}
