.top-bar {
    background-color: rgb(236, 211, 236);
}

.content {
    background-color: rgb(199, 224, 224);
}

.footer {
    background-color: rgb(201, 223, 201);
}

.push {
    background-color: rgb(49, 49, 53);
}

.icon {
    background-color: pink;
}

