@import url(debug.css);

@font-face {
  font-family: "MS-Font";
  src: url("../MS_PAIN.woff") format("truetype");
  /* TODO: Var-fonts */
}

* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-size: var(--N-font);
}

:root {
  --XL-font: 50px;
  --L-font: 40px;
  --M-font: 30px;
  --N-font: 20px;
  --XS-font: 12px;
  --icon-size: 40px;
  --pad: 10px;

  background-color: var(--bg-color);
  color: var(--font-color);
  /* font-family: "MS-Font"; */
}

/* ========== Unsetting Defaults ========== */

button {
  border: unset;
  background-color: unset;
  font-family: unset;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

img {
  pointer-events: none;
  user-select: none;
}

/* ========== Main dividers + layout setup ========== */

.main {
  display: flex;
  flex-direction: column;
  width: min(1000px, 100%);
  margin: auto;
}

.push {
  flex: 1;
}

.footer {
  margin-top: 10vh;
}

/* ========== Top Bar ========== */

.top-bar {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start; */
  position: fixed;
  top: var(--pad);
  align-self: flex-start;
  /* FIXME make it var(--pad) left of main */
}

nav {
  display: flex;
}

.icon {
  height: var(--icon-size);
  width: var(--icon-size);
}

/* ========== Content ========== */

.full {
  min-height: calc(100vh - var(--icon-size) * 4);
  flex-direction: column;
  padding: calc(var(--icon-size) * 2) var(--pad);
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: min(600px, 100%);
}

/* ========== Footer ========== */

.footer {
  min-height: 10vh;
  padding: var(--pad);
}

/* ========== Mobile ========== */

@media screen and (max-width: 650px) {
  /* .content {
    margin-top: 5vw;
  } */
  .footer {
    min-height: 0;
  }
}

/* ==================== Misc Stuff Below ==================== */

/* ========== Specific stylings ========== */

#sbImg {
  width: 200px;
  mix-blend-mode: difference;

  margin-left: auto;
  margin-right: auto;
  display: block;
  /* margin: 25px; */
  /* TODO: fix coloring of strawwwwbery */
}

/* ========== Generalized styles ========== */

.center {
  text-align: center;
}

.center-items,
.icon,
.full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.XS {
  font-size: var(--XS-font);
}

.M {
  font-size: var(--M-font);
}

.L {
  font-size: var(--L-font);
}

.XL {
  font-size: var(--XL-font);
}
